<!DOCTYPE HTML>
<html>
<head th:replace="mgr/base/head :: head('评论配置')"></head>
<body>
	<nav th:replace="mgr/base/nav :: active('config-commentConfig')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row" style="padding: 5px">
				<div class="col-md-6 col-md-offset-3">
					<div class="tip" style="margin-top: 10px"></div>
					<form method="post" id="commentConfigForm">
						<div class="form-group">
							<label>是否允许评论</label> <label class="radio-inline"> <input
								type="radio" name="allowComment" value="true"
								th:attr="checked=${commentConfig.allowComment ? 'checked' : null}">
								是
							</label> <label class="radio-inline"> <input type="radio"
								name="allowComment" value="false"
								th:attr="checked=${commentConfig.allowComment ? null : 'checked'}">
								否
							</label>
						</div>
						<div class="form-group">
							<label>是否审核评论</label> <label class="radio-inline"> <input
								type="radio" name="check" value="true"
								th:attr="checked=${commentConfig.check ? 'checked' : null}">
								是
							</label> <label class="radio-inline"> <input type="radio"
								name="check" value="false"
								th:attr="checked=${commentConfig.check ? null : 'checked'}">
								否
							</label>
						</div>
						<div class="form-group">
							<label>评论是否允许html标签</label> <label class="radio-inline">
								<input type="radio" name="allowHtml" value="true"
								th:attr="checked=${commentConfig.allowHtml ? 'checked' : null}">
								是
							</label> <label class="radio-inline"> <input type="radio"
								name="allowHtml" value="false"
								th:attr="checked=${commentConfig.allowHtml ? null : 'checked'}">
								否
							</label>
						</div>
						<div class="form-group">
							<label>评论展现方式</label> <select class="form-control"
								name="commentMode">
								<option th:value="${commentConfig.commentMode.name()}"
									selected="selected"
									th:text="'当前:'+${messages.getMessage(commentConfig.commentMode.getMessage())}"></option>
								<option value="LIST">平铺</option>
								<option value="TREE">嵌套</option>
							</select>
						</div>
						<div class="form-group">
							<label>评论展现顺序</label> <select class="form-control"
								name="asc">
								<option th:value="${commentConfig.asc}"
									selected="selected"
									th:text="'当前:'+${commentConfig.asc ? '正序' : '倒叙'}"></option>
								<option value="true">正序</option>
								<option value="false">倒叙</option>
							</select>
						</div>
						<div class="alert alert-info">在单位时间(秒)内，用户最多只能评论多少条</div>
						<div class="form-group">
							<label for="">时间(秒)(1~300)</label> <input
								class="form-control integer" placeholder="时间" th:value="${commentConfig.limitCount}"
								name="limitSec">
						</div>
						<div class="form-group">
							<label for="">允许发表评论数(1~100)</label> <input
								class="form-control integer" placeholder="时间" th:value="${commentConfig.limitSec}"
								name="limitCount">
						</div>
						<button type="button" id="update" class="btn btn-default">修改全局评论配置</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<script>
	$("#update").click(function() {
		var data = $("#commentConfigForm").serializeObject();
		$.ajax({
			type : "post",
			url : basePath + "/mgr/config/commentConfig/update",
			data : JSON.stringify(data),
			dataType : "json",
			contentType : 'application/json',
			success : function(data) {
				if (data.success) {
					success(data.message);
					setTimeout(function() {
						window.location.reload();
					}, 500);
				} else {
					error(data.message);
				}
			},
			complete : function() {
				$("#update").prop("disabled", false);
			}
		});
	});
	</script>
</body>
</html>
