<!DOCTYPE HTML>
<html>
<head th:replace="mgr/base/head :: head('评论配置')"></head>
<body>
	<div id="wrapper">
		<nav th:replace="mgr/base/nav :: active('config')"></nav>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row" style="padding: 5px">
					<div class="col-md-6 col-md-offset-3">
						<div class="tip" style="margin-top: 10px"></div>
						<form method="post" id="commentConfigForm">
							<div class="alert alert-info">在单位时间(秒)内，用户最多只能评论多少条记录</div>
							<div class="form-group">
								<label for="">时间(秒)</label> <input class="form-control integer"
									placeholder="时间" th:value="${commentConfig.limit.time}"
									name="time">
							</div>
							<div class="form-group">
								<label for="">允许发表评论数</label> <input
									class="form-control integer" placeholder="允许评论数"
									th:value="${commentConfig.limit.limit}" name="count">
							</div>
							<div class="form-group">
								<label for="">评论显示顺序(发表时间)</label> <label class="radio-inline">
									<input type="radio" name="sort" value="asc"
									th:attr="checked=${commentConfig.asc ? 'checked':null}">
									正序
								</label> <label class="radio-inline"> <input type="radio"
									name="sort" value="desc"
									th:attr="checked=${!commentConfig.asc ? 'checked':null}">
									倒叙
								</label>
							</div>
							<button type="button" id="update" class="btn btn-default">修改评论配置</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<script type="text/javascript"
		th:src="@{/static/js/mgr/config/comment.js}"></script>
</body>
</html>
