<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link th:href="@{/static/css/blog.css}" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<title th:text="${space == null ? '主页' : space.name}"></title>
</head>
<body>
	<fragment name="顶部导航" />
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8  col-sm-8 text">
				<fragment name="文章列表" data-sort-lab="false" />
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 text hidden-xs">
				<fragment name="文章日期归档" />
				<fragment name="文章空间归档" />
				<fragment name="热门标签" />
				<fragment name="最近评论" />
				<fragment name="文章统计" />
			</div>
		</div>
	</div>

	<fragment name="底部" />
	<div th:replace="base/foot_source">&nbsp;</div>
	<data name="文章列表" />
	<data name="文章日期归档" />
	<data name="文章空间归档" />
	<data name="最近评论" />
	<data name="热门标签" />
	<data name="文章统计" />
</body>
</html>