<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script th:src="@{/static/js/html5shiv.min.js}"></script>
	  <script th:src="@{/static/js/respond.min.js}"></script>
	<![endif]-->
<title text="留言板"></title>
</head>
<body>
	<fragment name="顶部导航" />
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8  col-sm-8 text">
          	<button class="btn btn-primary" data-comment>
              留言
          </button>
          <div id="comments-container" style="margin-top:10px">
          </div>
        </div>
      </div>
    </div>
    <div th:replace="base/foot_source">&nbsp;
    </div>
  <script th:inline="javascript">
    var c = $("#comments-container");
  	var config = {isLogin:[[${user != null}]],gravatarPrefix:[[${gravatars.getUrl('')}]]};
    var _config = {
    	pageSize:20,
      	page:1,
       moduleId:[[${this.id}]],
      moduleType:'userpage',
      asc:false,
      container : c
    }
  </script>
	 <script th:src="@{/static/js/new_comment.js}"></script>
  <script>
  	$(function(){
    	cmt.renderComment(_config);
       $('[data-comment]').click(function(){
       	cmt.doComment(_config.moduleId,_config.moduleType,function(){
        	cmt.renderComment(_config);
        });
       });
    });
  </script>
    <fragment name="底部" />
</body>
</html>