<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script th:src="@{/static/js/html5shiv.min.js}"></script>
	  <script th:src="@{/static/js/respond.min.js}"></script>
	<![endif]-->
<title text="留言板"></title>
</head>
<body>
	<fragment name="顶部导航" />
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8  col-sm-8 text">
          <data name="评论" moduleType="userpage" th:moduleId="${this.id}" asc="false"/>
          <div id="comments-content-container">
            <fragment name="评论"/>
          </div>
          <div id="comments-container">
          </div>
        </div>
      </div>
    </div>
    <div th:replace="base/foot_source">&nbsp;
    </div>
    <input type="hidden" id="moduleId" th:value="${this.id}"/>
    <input type="hidden" id="login" th:value="${user != null}"/>
    <input type="hidden" id="avatarPrefix" th:value="${gravatarPrefix == null ? 'http://cn.gravatar.com/avatar/' : gravatarPrefix}"/>
	 <script th:src="@{/static/js/_modulecomment.js}"></script>
    <fragment name="底部" />
</body>
</html>