<!DOCTYPE HTML>
<html>
<head>
<head th:replace="mgr/base/head :: head('模板导出')"></head>
</head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-export')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form th:action="@{/mgr/tpl/export}" method="post" id="exportForm">
						<div class="form-group">
							<label>空间选择</label> <select class="form-control" name="space.id">
								<option value="">无</option>
								<option th:each="space : ${spaces}" th:text="${space.name}"
									th:value="${space.id}"></option>
							</select>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" id="exportExpandedPage"/>是否导出拓展页面模板
							</label>
						</div>
							<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<input type="hidden" name="exportExpandedPage" value="false" id="exportExpandedPageHidden"/>
						<button type="button" id="export" class="btn btn-default">导出</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#export").click(function(){
				$("#exportExpandedPageHidden").val($("#exportExpandedPage").prop("checked"));
				$('#exportForm').submit();
			});
		})
	</script>
</body>
</html>