<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link
	href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css">
<link th:href="@{/static/css/blog.css}" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
</style>
<title>模板导入</title>
</head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-export')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form id="uploadForm" th:action="@{/mgr/tpl/parse}" method="post"
						enctype="multipart/form-data" autocomplete="on">
						<div class="input-group">
							<span class="input-group-btn"> <span
								class="btn btn-primary btn-file"> 选择文件… <input
									type="file" accept="*" name="file">
							</span>
							</span> <input type="text" id="file-label" class="form-control"
								readonly="readonly"> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="input-group-addon">
								<a href="javascript:void(0)" id="upload">上传</a>
							</div>
						</div>
					</form>
					<div class="alert alert-danger" style="margin-top: 10px"
						th:if="${error != null}" th:text="${messages.getMessage(error)}"></div>
				</div>
			</div>
			<div th:unless="${#lists.isEmpty(parses)}" class="row"
				style="margin-top: 10px">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-info">
						模板解析完成，共有<span th:text="${parses.size()}"></span>个页面可选择导入
						<p class="text text-warning">如果存在个人页面和拓展页面，可能由于系统中不存在这些页面而不会导入，但不会影响总体导入</p>
						<p class="text text-warning"><b>导入操作将会耗费巨大的资源，请慎重</b></p>
					</div>
					<div class="form-group">
							<label>选择要导入的空间</label> <select class="form-control" id="spaceId">
								<option value="">无</option>
								<option th:each="space : ${spaces}" th:text="${space.name}"
									th:value="${space.id}"></option>
							</select>
						</div>
					<div class="table-responsive">
						<table class="table">
							<tr >
								<th>序号</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th><input
									type="checkbox" /></th>
									<th>&nbsp;</th>
							</tr>
							<it th:remove="tag" th:each="parse : ${parses}"
								th:switch="${parse.page.type.name()}">
							<tr th:case="SYSTEM">
								<td th:text="${parse.index}"></td>
								<td >系统页面</td>
								<td th:text="${messages.getMessage(parse.page.target.message)}"></td>
								<td><a href="###" onclick="viewTpl($(this))">查看模板</a>&nbsp;&nbsp;&nbsp;<input
									type="checkbox" th:value="${parse.index}"/></td>
								<td><pre style="display:none" th:text="${parse.page.tpl}"></pre></td>
							</tr>
							<tr th:case="ERROR">
								<td th:text="${parse.index}"></td>
								<td>错误页面</td>
								<td th:text="${messages.getMessage(parse.page.errorCode.message)}"></td>
								<td><a href="###" onclick="viewTpl($(this))">查看模板</a>&nbsp;&nbsp;&nbsp;<input
									type="checkbox" th:value="${parse.index}"/></td>
								<td><pre style="display:none" th:text="${parse.page.tpl}"></pre></td>
							</tr>
							<tr th:case="USER">
								<td th:text="${parse.index}"></td>
								<td>用户页面</td>
								<td th:text="'ID:'+${parse.page.id}">&nbsp;</td>
								<td><a href="###" onclick="viewTpl($(this))">查看模板</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" th:value="${parse.index}"/></td>
								<td><pre style="display:none" th:text="${parse.page.tpl}"></pre></td>
							</tr>
							<tr th:case="EXPANDED">
								<td th:text="${parse.index}"></td>
								<td>拓展页面</td>
								<td th:text="'ID:'+${parse.page.id}"></td>
								<td><a href="###" onclick="viewTpl($(this))">查看模板</a>&nbsp;&nbsp;&nbsp;<input
									type="checkbox" th:value="${parse.index}"/></td>
								<td><pre style="display:none" th:text="${parse.page.tpl}"></pre></td>
							</tr>
							</it>
						</table>
						<button class="btn btn-primary" id="import-btn">导入</button>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:10px" th:unless="${#lists.isEmpty(session.oldPages)}" id="lastDownloadContainer">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-info"><a href="###" onclick="downloadLast()">下载最近一次导入的备份文件</a>
					<p class="text text-warning">PS:如果导入成功了1个页面，那么只会备份这个导入成功的页面，连续导入将会覆盖备份文件</p>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:10px">
				<div class="col-md-8 col-md-offset-2" id="result"></div>
			</div>
		</div>
	</div>
	<form th:action="@{/mgr/tpl/lastImportPageBackUp}" method="post" style="display:none" id="df"><input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></form>
	<div th:replace="base/foot_source"></div>
	<div class="modal" id="tplWidgetModal" tabindex="-1" role="dialog"
		aria-labelledby="tplWidgetModalLabel" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">挂件模板</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade " data-backdrop="static"
		id="processing-box">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body" style="text-align: center">正在导入</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('change','.btn-file :file',function() {
			var input = $(this), numFiles = input.get(0).files ? input
					.get(0).files.length : 1, label = input.val()
					.replace(/\\/g, '/').replace(/.*\//, '');
			$("#file-label").val(label);
		});
		$("table").find('tr').eq(0).find("input[type=checkbox]").click(function(){
			$('input[type=checkbox]').prop("checked",$(this).prop("checked"))
		})
		$("#upload").click(function() {
			var input = $('input[type=file]');
			var len = input.get(0).files.length;
			if (len == 0) {
				bootbox.alert("请上传文件");
			}else{
				var name = input.val().replace(/\\/g, '/').replace(/.*\//, '');
				var ext = name.split('.').pop().toLowerCase();
				if (ext != "json") {
					bootbox.alert("请上传json文件");
					return;
				}
			}
			$('#uploadForm').submit();
		});
		$("#import-btn").click(function(){
			var ids = '';
			$('input[type=checkbox]').each(function(i){
				if(i > 0){
					if($(this).prop("checked")){
						var v=  $(this).val();
						if(v != ''){
							ids += v+",";
						}
					}
				}
			})
			if(ids == ''){
				bootbox.alert("请至少选择一个需要导入的模板");
			} else {
				ids = ids.substring(0,ids.length-1);
				$("#processing-box").modal('show');
				$("#result").html("");
				var data = {"ids":ids};
				var spaceId = $("#spaceId").val();
				if(spaceId != ''){
					data.spaceId = spaceId;
				}
				$.post(basePath+'/mgr/tpl/import',data,function callBack(data){
					if(data.success){
						var successes = data.data.successes;
						var errors = data.data.errors;
						var html = '';
						if(successes.length > 0){
							$("#lastDownloadContainer").hide();
							var st = '<div class="table-responsive">';
							st += '<table class="table">';
							st += '<caption>导入成功(<a href="###" onclick="downloadLast()">下载此次备份文件(<span class="text text-warning">如果导入成功了1个页面，那么只会备份这个导入成功的页面，连续导入将会覆盖备份文件</span>)</a>)</caption>';
							st += '<tr>';
							st += '<th>序号</th>';
							st += '<th>警告</th>';
							st += '</tr>';
							for(var i=0;i<successes.length;i++){
								var success = successes[i];
								st += '<tr>';
								st += '<td>'+success.index+'</td>';
								var tip = '';
								if(success.warnings.length > 0){
									for(var j=0;j<success.warnings.length;j++){
										var warning = success.warnings[j];
										tip += '<p class="text text-warning">'+warning+'</p>';
									}
								}else{
									tip = '无';
								}
								st += '<td>'+tip+'</td>';
								st += '</tr>';
							}
							st += '</table>';
							st += '</div>';
							html += st;
						}
						if(errors.length > 0){
							var st = '<div class="table-responsive">';
							st += '<table class="table">';
							st += '<caption>导入失败</caption>';
							st += '<tr>';
							st += '<th>序号</th>';
							st += '<th>原因</th>';
							st += '</tr>';
							for(var i=0;i<errors.length;i++){
								var error = errors[i];
								st += '<tr>';
								st += '<td>'+error.index+'</td>';
								st += '<td><span class="text text-danger">'+error.message+'</span></td>';
								st += '</tr>';
							}
							st += '</table>';
							st += '</div>';
							html += st;
						}
						$("#result").html(html);
					}else{
						bootbox.alert(data.message);
					}
					$("#processing-box").modal('hide')
				})
			}
		})
	})
	function downloadLast(){
		$("#df").submit()
	}
	function viewTpl(o){
		var pre = o.parent().next().find('pre').eq(0).clone().addClass("pre-scrollable");
		$("#tplWidgetModal").find(".modal-body").html(pre);
		pre.show();
		$("#tplWidgetModal").modal("show");
	}
	</script>
</body>
</html>