<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="mailAppender" class="me.qyh.blog.support.mail.MailAppendar">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="errorDailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/web/logs/blog/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/web/logs/blog/error.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 关闭这个类的日志 -->
	<logger name="org.thymeleaf.TemplateEngine" level="OFF" />


	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>c:/logs/rendertime.log</file>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
	</appender>


	<logger name="me.qyh.blog.core.thymeleaf.TemplateRender" level="DEBUG" additivity="false">
		<appender-ref ref="fileAppender" />
	</logger>

	<!-- 如果采用了MailAppender来纪录日志，那么必须单独配置MailSender的日志记录，防止MailAppender陷入死循环 -->
	<logger name="me.qyh.blog.support.mail.MailSender" level="ERROR"
		additivity="false">
		<appender-ref ref="errorDailyRollingFileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="consoleAppender" />
	</root>


</configuration>