<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.ArticleTagDao">
	<insert id="insert">
		INSERT INTO blog_article_tag(article_id,tag_id)
		VALUES(#{article.id},#{tag.id})
	</insert>

	<delete id="deleteByTag">
		DELETE FROM blog_article_tag WHERE tag_id = #{id}
	</delete>

	<delete id="deleteByArticle">
		DELETE FROM blog_article_tag WHERE article_id = #{id}
	</delete>
	
	<update id="merge">
		UPDATE blog_article_tag
		SET tag_id = #{dest.id}
		WHERE tag_id = #{src.id}
	</update>
</mapper>