<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.ArticleDao">

	<resultMap type="Article" id="ArticleDetail">
		<id column="art_id" property="id" />
		<result column="content" property="content" />
		<result column="pubDate" property="pubDate" />
		<result column="lastModifyDate" property="lastModifyDate" />
		<result column="title" property="title" />
		<result column="isPrivate" property="isPrivate" />
		<result column="hits" property="hits" />
		<result column="comments" property="comments" />
		<result column="summary" property="summary" />
		<result property="level" column="art_level" />
		<result column="art_lock" property="lockId"/>
		<result property="tags" column="tags" typeHandler="TagsTypeHandler"/>
		<result property="status" column="art_status" typeHandler="EnumOrdinalTypeHandler" />
		<result property="from" column="art_from" typeHandler="EnumOrdinalTypeHandler" />
		<result property="editor" column="editor" typeHandler="EnumOrdinalTypeHandler" />
		<association property="space" javaType="Space">
			<result column="space_id" property="id" />
			<result column="space_alias" property="alias"/>
			<result column="space_name" property="name"/>
			<result column="space_is_private" property="isPrivate"/>
			<result column="space_lock" property="lockId"/>
		</association>
		<association property="commentConfig" javaType="CommentConfig">
			<result column="allowComment" property="allowComment"/>
			<result property="commentMode" column="comment_mode" typeHandler="EnumOrdinalTypeHandler"/>
			<result column="comment_asc" property="asc"/>
			<result column="comment_allowHtml" property="allowHtml"/>
			<result column="comment_limitCount" property="limitCount"/>
			<result column="comment_limitSec" property="limitSec"/>
		</association>
	</resultMap>
	
	<resultMap type="ArticleDateFile" id="ArticleDateFileDetail">
		<id column="id"/>
		<result column="pubDate" property="begin"/>
		<result column="pubDate" property="end"/>
		<result column="art_count" property="count"/>
	</resultMap>
	
	<resultMap type="ArticleSpaceFile" id="ArticleSpaceFileDetail">
		<id column="art_id"/>
		<result column="art_count" property="count"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id" />
			<result column="space_alias" property="alias"/>
			<result column="space_name" property="name"/>
		</association>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO blog_article(content,pubDate,title,isPrivate,summary,art_level,art_lock,art_status,art_from,editor,space_id,allowComment,comment_mode,comment_asc,comment_allowHtml,comment_limitCount,comment_limitSec)
		VALUES(#{content},#{pubDate},#{title},#{isPrivate},#{summary},#{level},#{lockId},
			#{status,javaType=ArticleStatus,typeHandler=EnumOrdinalTypeHandler},#{from,javaType=ArticleFrom,typeHandler=EnumOrdinalTypeHandler},
			#{editor,javaType=Editor,typeHandler=EnumOrdinalTypeHandler},#{space.id},#{commentConfig.allowComment},#{commentConfig.commentMode,javaType=CommentMode,typeHandler=EnumOrdinalTypeHandler},#{commentConfig.asc},#{commentConfig.allowHtml},#{commentConfig.limitCount},#{commentConfig.limitSec})
	</insert>
	
	<update id="update">
		UPDATE 
			blog_article
		<set>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="isPrivate != null">
				isPrivate = #{isPrivate},
			</if>
			pubDate = #{pubDate},
			<if test="summary != null">
				summary = #{summary},
			</if>
			art_level = #{level},
			art_lock  = #{lockId},
			<if test="status != null">
				art_status = #{status,javaType=ArticleStatus,typeHandler=EnumOrdinalTypeHandler},
			</if>
			<if test="from != null">
				art_from = #{from,javaType=ArticleFrom,typeHandler=EnumOrdinalTypeHandler},
			</if>
			<if test="space != null">
				space_id = #{space.id},
			</if>
			<if test="commentConfig != null">
				<if test="commentConfig.allowComment != null">
					allowComment = #{commentConfig.allowComment},
				</if>
				<if test="commentConfig.commentMode != null">
					comment_mode = #{commentConfig.commentMode,javaType=CommentMode,typeHandler=EnumOrdinalTypeHandler},
				</if>
				<if test="commentConfig.asc != null">
					comment_asc = #{commentConfig.asc},
				</if>
				<if test="commentConfig.allowHtml != null">
					comment_allowHtml = #{commentConfig.allowHtml},
				</if>
				<if test="commentConfig.limitCount != null">
					comment_limitCount = #{commentConfig.limitCount},
				</if>
				<if test="commentConfig.limitSec != null">
					comment_limitSec = #{commentConfig.limitSec},
				</if>
			</if>
			lastModifyDate = #{lastModifyDate}
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectById" resultMap="ArticleDetail">
		<include refid="articleDetailSql"></include>
		WHERE 
			art.id = #{id}
		GROUP BY art.id
	</select>
	
	<select id="selectCount" resultType="int">
		SELECT 
			COUNT(art.id) 
		FROM 
			blog_article art
		LEFT OUTER JOIN blog_space sp ON art.space_id = sp.id
		<where>
			<if test="space != null">
				art.space_id = #{space.id}
			</if>
			<if test="!queryPrivate">
				AND art.isPrivate = false
				AND sp.is_private = false
			</if>
			<if test="begin != null and end != null">
				AND art.pubDate BETWEEN #{begin} AND #{end}
			</if>
			<if test="status != null">
				AND art.art_status = #{status,javaType=ArticleStatus,typeHandler=EnumOrdinalTypeHandler}
			</if>
			<if test="from != null">
				AND art.art_from = #{from,javaType=ArticleFrom,typeHandler=EnumOrdinalTypeHandler}
			</if>
			<if test="hasLock != null">
				<choose>
					<when test="hasLock">
						AND (art.art_lock IS NOT NULL OR sp.space_lock IS NOT NULL)
					</when>
					<otherwise>
						AND (art.art_lock IS NULL AND sp.space_lock IS NULL)
					</otherwise>
				</choose>
			</if>
			<if test="tag != null">
				AND art.id IN (SELECT article_id FROM blog_article_tag bat LEFT OUTER JOIN blog_tag bt ON bat.tag_id = bt.id WHERE bt.tag_name = #{tag})
			</if>
		</where>
	</select>
	
	<select id="selectPage" resultMap="ArticleDetail">
		SELECT
			art.id AS art_id,
			art.pubDate,
			art.lastModifyDate,
			art.title,
			art.isPrivate,
			art.hits,
			art.comments,
			art.summary,
			art.art_level,
			art.art_status,
			art.editor,
			art.art_from,
			art.space_id,
			art.art_lock,
			sp.space_alias,
			space_lock,
			sp.is_private AS space_is_private,
			GROUP_CONCAT(bt.tag_name) AS tags
		FROM
			blog_article art
		LEFT OUTER JOIN blog_space sp
			ON art.space_id = sp.id
		LEFT OUTER JOIN blog_article_tag bat ON bat.article_id = art.id
		LEFT OUTER JOIN blog_tag bt ON bat.tag_id = bt.id
		<where>
			<if test="space != null">
				art.space_id = #{space.id}
			</if>
			<if test="!queryPrivate">
				AND art.isPrivate = false
				AND sp.is_private = false
			</if>
			<if test="begin != null and end != null">
				AND art.pubDate BETWEEN #{begin} AND #{end}
			</if>
			<if test="status != null">
				AND art.art_status = #{status,javaType=ArticleStatus,typeHandler=EnumOrdinalTypeHandler}
			</if>
			<if test="from != null">
				AND art.art_from = #{from,javaType=ArticleFrom,typeHandler=EnumOrdinalTypeHandler}
			</if>
			<if test="hasLock != null">
				<choose>
					<when test="hasLock">
						AND (art.art_lock IS NOT NULL OR sp.space_lock IS NOT NULL)
					</when>
					<otherwise>
						AND (art.art_lock IS NULL AND sp.space_lock IS NULL)
					</otherwise>
				</choose>
			</if>
			<if test="tag != null">
				AND bt.tag_name = #{tag}
			</if>
		</where>
		GROUP BY art.id
		ORDER BY 
		<if test="!ignoreLevel">
			art_level DESC,
		</if>
		<if test="sort != null">
			<choose>
				<when test='sort.name() == "HITS"'>
					art.hits DESC,
				</when>
				<when test='sort.name() == "COMMENTS"'>
					art.comments DESC,
				</when>
			</choose>
		</if>
		art.pubDate DESC,art.id DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
	<select id="selectByIds" resultMap="ArticleDetail">
		SELECT
			art.id AS art_id,
			art.pubDate,
			art.lastModifyDate,
			art.title,
			art.isPrivate,
			art.hits,
			art.comments,
			art.summary,
			art.art_level,
			art.art_status,
			art.art_from,
			art.space_id,
			art.art_lock,
			sp.space_alias,
			space_lock,
			sp.is_private AS space_is_private,
			GROUP_CONCAT(bt.tag_name) AS tags
		FROM
			blog_article art
		LEFT OUTER JOIN blog_space sp
			ON art.space_id = sp.id
		LEFT OUTER JOIN blog_article_tag bat ON bat.article_id = art.id
		LEFT OUTER JOIN blog_tag bt ON bat.tag_id = bt.id
		WHERE art.id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>
		GROUP BY art.id
		ORDER BY FIELD(art.id,
		<foreach collection="list" item="id" separator=",">#{id}</foreach>
		)
	</select>
	
	<select id="selectDateFiles" resultMap="ArticleDateFileDetail">
		SELECT pubDate,COUNT(art.id) AS art_count,art.id 
		FROM blog_article art
		LEFT OUTER JOIN blog_space sp ON art.space_id = sp.id
		WHERE art_status = 0<!-- PUBLISHED -->
		<if test="!queryPrivate">
			AND art.isPrivate = false
			AND sp.is_private = false
		</if>
		<if test="space != null">
			AND space_id = #{space.id}
		</if>
		<choose>
			<when test='mode.name() == "Y"'>
				GROUP BY YEAR(pubDate)
			</when>
			<when test='mode.name() == "YM"'>
				GROUP BY YEAR(pubDate),MONTH(pubDate)
			</when>
			<otherwise>
				GROUP BY YEAR(pubDate),MONTH(pubDate),DATE(pubDate)
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSpaceFiles" resultMap="ArticleSpaceFileDetail">
		SELECT space_id,space_alias,space_name,COUNT(art.id) AS art_count,art.id AS art_id 
		FROM blog_article art
		LEFT OUTER JOIN blog_space sp
		ON art.space_id = sp.id
		WHERE art_status = 0<!-- PUBLISHED -->
		<if test="!queryPrivate">
			AND art.isPrivate = false
			AND sp.is_private = false
		</if>
		GROUP BY space_id
	</select>
	
	<select id="selectScheduled" resultMap="ArticleDetail">
		<include refid="articleDetailSql"></include>
		WHERE
			art.art_status = 1<!-- SCHEDULED -->
		AND 
			art.pubDate <![CDATA[ <= ]]> #{date}
		GROUP BY art.id
	</select>
	
	
	<select id="selectPublished" resultMap="ArticleDetail">
		<include refid="articleDetailSql"></include>
		WHERE art.art_status = 0
		<if test="space != null">
			AND art.space_id = #{space.id}
		</if>
		GROUP BY art.id
	</select>
	
	<delete id="deleteById">
		DELETE FROM blog_article WHERE id = #{id}
	</delete>
	
	<update id="updateHits">
		UPDATE blog_article SET hits = hits + #{hits} WHERE id = #{id}
	</update>
	
	<update id="updateComments">
		UPDATE blog_article SET comments = comments + #{comments} WHERE id = #{id}
	</update>
	
	<select id="selectAll" resultMap="ArticleDetail">
		<include refid="articleDetailSql"></include>
		GROUP BY art.id
	</select>
	
	<select id="getPreviousArticle" resultMap="ArticleDetail">
		SELECT
			art.id AS art_id,
			art.title,
			sp.space_alias,
			sp.space_name
		FROM
			blog_article art
		LEFT OUTER JOIN blog_space sp
			ON art.space_id = sp.id
		WHERE art.art_status = 0
		AND art.id  <![CDATA[ < ]]> #{article.id}
		<if test="article.space != null">
			AND art.space_id = #{article.space.id}
		</if>
		<if test="!queryPrivate">
			AND art.isPrivate = false
			AND sp.is_private = false
		</if>
		ORDER BY art.pubDate DESC,art.id DESC
		LIMIT 0,1
	</select>
	
	<select id="getNextArticle" resultMap="ArticleDetail">
		SELECT
			art.id AS art_id,
			art.title,
			sp.space_alias,
			sp.space_name
		FROM
			blog_article art
		LEFT OUTER JOIN blog_space sp
			ON art.space_id = sp.id
		WHERE art.art_status = 0
		AND art.id  > #{article.id}
		<if test="article.space != null">
			AND art.space_id = #{article.space.id}
		</if>
		<if test="!queryPrivate">
			AND art.isPrivate = false
			AND sp.is_private = false
		</if>
		ORDER BY art.pubDate ASC,art.id ASC
		LIMIT 0,1
	</select>
	
	<sql id="articleDetailSql">
		SELECT
			art.id AS art_id,
			art.content,
			art.pubDate,
			art.lastModifyDate,
			art.title,
			art.isPrivate,
			art.hits,
			art.comments,
			art.summary,
			art.art_level,
			art.art_status,
			art.art_from,
			art.editor,
			art.space_id,
			art.art_lock,
			art.allowComment,
			art.comment_mode,
			art.comment_asc,
			art.comment_allowHtml,
			art.comment_limitCount,
			art.comment_limitSec,
			sp.space_alias,
			sp.space_name,
			space_lock,
			sp.is_private AS space_is_private,
			GROUP_CONCAT(bt.tag_name) AS tags
		FROM
			blog_article art
		LEFT OUTER JOIN blog_space sp
			ON art.space_id = sp.id
		LEFT OUTER JOIN blog_article_tag bat ON bat.article_id = art.id
		LEFT OUTER JOIN blog_tag bt ON bat.tag_id = bt.id
	</sql>
</mapper>