<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.CommentDao">
	
	<resultMap type="Comment" id="CommentDetail">
		<id property="id" column="id"/>
		<result column="parent_path" property="parentPath"/>
		<result column="content" property="content"/>
		<result column="comment_date" property="commentDate"/>
		<association property="user" javaType="OauthUser">
			<result column="user_id" property="id"/>
			<result column="nick_name" property="nickname"/>
			<result column="avatar" property="avatar"/>
			<result column="is_admin" property="admin"/>
			<result column="oauth_status" property="status" typeHandler="EnumOrdinalTypeHandler" />
		</association>
		<association property="article" javaType="Article">
			<result column="article_id" property="id"/>
			<result column="art_title" property="title"/>
			<association property="space" javaType="Space">
				<result column="space_alias" property="alias"/>
			</association>
		</association>
		<association property="parent" javaType="Comment">
			<result column="parent_id" property="id"/>
			<association property="user" javaType="OauthUser">
				<result column="p_user_id" property="id"/>
				<result column="p_nick_name" property="nickname"/>
				<result column="p_avatar" property="avatar"/>
				<result column="p_is_admin" property="admin"/>
			</association>
		</association>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO blog_comment(parent_id,parent_path,content,user_id,article_id,comment_date)
		VALUES(#{parent.id},#{parentPath},#{content},#{user.id},#{article.id},#{commentDate})
	</insert>
	
	<select id="selectCountByPath" resultType="int">
		SELECT COUNT(id) FROM blog_comment WHERE  parent_path LIKE CONCAT('', #{path},'%')
	</select>
	
	<select id="selectCountByUserAndDatePeriod" resultType="int">
		SELECT COUNT(id) FROM blog_comment WHERE user_id = #{user.id} AND comment_date BETWEEN #{begin} AND #{end} 
	</select>
	
	<select id="selectCountWithTree" resultType="int">
		SELECT COUNT(id) FROM blog_comment WHERE article_id = #{article.id} AND parent_path = '/'
	</select>
	
	<select id="selectCountWithList" resultType="int">
		SELECT COUNT(id) FROM blog_comment WHERE article_id = #{article.id}
	</select>
	
	<select id="selectPageWithTree" resultMap="CommentDetail">
		 SELECT 
		  a.id,a.parent_id,a.parent_path,a.content,a.user_id,a.article_id,a.comment_date,bou.avatar,bou.nick_name,bou.is_admin,bou.oauth_status
		FROM 
		  blog_comment a JOIN 
		  (SELECT id, parent_path 
		    FROM blog_comment 
		    WHERE parent_path = '/'
		    AND article_id = #{article.id}
		    <choose>
		    	<when test="asc">
		    		 ORDER BY comment_date ,id
		    	</when>
		    	<otherwise>
		    		 ORDER BY comment_date DESC,id DESC
		    	</otherwise>
		    </choose>
		  LIMIT #{offset},#{pageSize}) roots
		  ON (a.parent_path LIKE CONCAT('/',roots.id,'/%') OR a.id=roots.id)
		LEFT OUTER JOIN blog_oauth_user  bou ON a.`user_id` = bou.id;
	</select>
	
	<select id="selectPageWithList" resultMap="CommentDetail">
		 SELECT 
		  a.id,a.parent_id,a.parent_path,a.content,a.user_id,a.article_id,a.comment_date,au.avatar,au.is_admin,au.nick_name,pu.id AS p_user_id,pu.nick_name AS p_nick_name,pu.avatar AS p_avatar,pu.is_admin AS p_is_admin,au.oauth_status
		FROM 
		  blog_comment a 
		LEFT OUTER JOIN blog_oauth_user au ON a.user_id = au.id
		LEFT OUTER JOIN blog_comment p ON a.parent_id = p.id
		LEFT OUTER JOIN blog_oauth_user pu ON p.user_id = pu.id
		WHERE a.article_id = #{article.id}
		 <choose>
	    	<when test="asc">
	    		 ORDER BY a.comment_date ,id
	    	</when>
	    	<otherwise>
	    		 ORDER BY a.comment_date DESC,id DESC
	    	</otherwise>
	    </choose>
		LIMIT #{offset},#{pageSize}
	</select>
	
	<delete id="deleteByPath">
		DELETE FROM blog_comment  WHERE parent_path LIKE CONCAT('', #{path},'%')
	</delete>
	
	<delete id="deleteById">
		DELETE FROM blog_comment WHERE id = #{id}
	</delete>
	
	<select id="selectById" resultMap="CommentDetail">
		 SELECT 
		  a.id,a.parent_id,a.parent_path,a.content,a.user_id,a.article_id,a.comment_date,bou.avatar,bou.nick_name,comment_date,bou.is_admin
		 FROM blog_comment a 
		 LEFT OUTER JOIN blog_oauth_user  bou ON a.`user_id` = bou.id
		 WHERE a.id = #{id}
	</select>
	
	<select id="selectLast" resultMap="CommentDetail">
		 SELECT 
		  a.id,a.parent_id,a.parent_path,a.content
		 FROM blog_comment a 
		 WHERE a.article_id = #{article.id}
		 AND a.user_id = #{user.id}
		 <choose>
		 	<when test="parent == null">
		 		AND parent_path = '/'
		 	</when>
		 	<otherwise>
		 		AND parent_id = #{parent.id}
		 	</otherwise>
		 </choose>
		 ORDER BY a.comment_date DESC,id DESC
		 LIMIT 0,1
	</select>
	
	
	<select id="selectCountByUserAndArticle" resultType="int">
		SELECT COUNT(a.id) FROM blog_comment a
		WHERE a.article_id = #{article.id} AND (a.user_id = #{user.id} OR a.parent_path LIKE CONCAT('/',a.id,'/%'))
	</select>
	
	<delete id="deleteByUserAndArticle">
		DELETE FROM blog_comment
		WHERE article_id = #{article.id} AND (user_id = #{user.id} OR parent_path LIKE CONCAT('/',id,'/%'))
	</delete>
	
	<delete id="deleteByArticle">
		DELETE FROM blog_comment
		WHERE article_id = #{id}
	</delete>
	
	
	<select id="selectLastComments" resultMap="CommentDetail">
		SELECT 
		a.id,a.parent_id,a.parent_path,a.content,a.user_id,a.article_id,a.comment_date,au.avatar,au.is_admin,au.nick_name,pu.id AS p_user_id,pu.nick_name AS p_nick_name,pu.avatar AS p_avatar,pu.is_admin AS p_is_admin,au.oauth_status,ba.title AS art_title,space_alias
		FROM blog_comment a
		LEFT OUTER JOIN blog_comment b ON a.parent_id = b.id
		LEFT OUTER JOIN blog_oauth_user au ON a.user_id = au.id
		LEFT OUTER JOIN blog_oauth_user pu ON b.user_id = pu.id
		LEFT OUTER JOIN blog_article ba ON a.article_id = ba.id
		LEFT OUTER JOIN blog_space bs ON ba.space_id  = bs.id
		WHERE ba.art_status = 0<!-- PUBLISHED -->
		<if test="space != null">
			AND bs.id = #{space.id} 
		</if>
		AND a.parent_path = '/' AND au.is_admin = FALSE
		OR (pu.is_admin = TRUE AND au.is_admin = FALSE)
		ORDER BY a.comment_date DESC ,a.id DESC
		LIMIT 0,#{limit}
	</select>
</mapper>