<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.CommentConfigDao">

	<delete id="deleteById">
		DELETE FROM blog_comment_config WHERE id = #{id}
	</delete>
	
	<update id="update">
		UPDATE blog_comment_config
		<set>
		<if test="allowComment != null">
			allowComment = #{allowComment},
		</if>
		<if test="commentMode != null">
			comment_mode = #{commentMode,javaType=CommentMode,typeHandler=EnumOrdinalTypeHandler},
		</if>
		<if test="asc != null">
			comment_asc = #{asc},
		</if>
		<if test="allowHtml != null">
			comment_allowHtml = #{allowHtml},
		</if>
		<if test="limitCount != null">
			comment_limitCount = #{limitCount},
		</if>
		<if test="limitSec != null">
			comment_limitSec = #{limitSec},
		</if>
		<if test="check != null">
			comment_check = #{check},
		</if>
		<if test="pageSize != null">
			comment_pagesize = #{pageSize}
		</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO blog_comment_config(allowComment,comment_mode,comment_asc,comment_allowHtml,comment_limitCount,comment_limitSec,comment_check,comment_pagesize)
		VALUES(#{allowComment},#{commentMode,javaType=CommentMode,typeHandler=EnumOrdinalTypeHandler},#{asc},#{allowHtml},#{limitCount},#{limitSec},#{check},#{pageSize})
	</insert>
	
</mapper>