<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.ErrorPageDao">
	<resultMap type="ErrorPage" id="ErrorPageDetail">
		<id column="id" property="id" />
		<result column="page_tpl" property="tpl"/>
		<result column="error_code" property="errorCode" typeHandler="EnumOrdinalTypeHandler"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id"/>
			<result column="space_alias" property="alias"/>
		</association>
	</resultMap>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO blog_page_error(space_id,page_tpl,error_code)
		VALUES(#{space.id},#{tpl},#{errorCode,javaType=ErrorCode,typeHandler=EnumOrdinalTypeHandler})
	</insert>

	<select id="selectBySpaceAndErrorCode" resultMap="ErrorPageDetail">
		SELECT bpe.id,page_tpl,error_code,space_id,space_alias
		FROM blog_page_error bpe
		LEFT OUTER JOIN blog_space bs 
		ON bpe.space_id = bs.id
		WHERE error_code = #{errorCode,javaType=ErrorCode,typeHandler=EnumOrdinalTypeHandler}
		<choose>
			<when test="space == null">
				AND space_id IS NULL
			</when>
			<otherwise>
				AND space_id = #{space.id}
			</otherwise>
		</choose>
	</select>
	
	<update id="update">
		UPDATE blog_page_error
		<set>
			<if test="tpl != null">
				page_tpl = #{tpl}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM blog_page_error WHERE id = #{id}
	</delete>
	
	<select id="selectById" resultMap="ErrorPageDetail">
		SELECT bpe.id,page_tpl,error_code,space_id,space_alias
		FROM blog_page_error bpe
		LEFT OUTER JOIN blog_space bs 
		ON bpe.space_id = bs.id
		WHERE bpe.id = #{id}
	</select>
</mapper>