<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.LockPageDao">
	<resultMap type="LockPage" id="LockPageDetail">
		<id column="id" property="id" />
		<result column="page_tpl" property="tpl"/>
		<result column="page_locktype" property="lockType"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id"/>
			<result column="space_alias" property="alias"/>
		</association>
	</resultMap>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO blog_page_lock(space_id,page_tpl,page_locktype)
		VALUES(#{space.id},#{tpl},#{lockType})
	</insert>

	<select id="selectBySpaceAndLockType" resultMap="LockPageDetail">
		SELECT bpl.id,page_tpl,page_locktype,space_id,space_alias
		FROM blog_page_lock bpl
		LEFT OUTER JOIN blog_space bs ON space_id = bs.id
		WHERE page_locktype = #{lockType}
		<choose>
			<when test="space == null">
				AND space_id IS NULL
			</when>
			<otherwise>
				AND space_id = #{space.id}
			</otherwise>
		</choose>
	</select>
	
	<update id="update">
		UPDATE blog_page_lock
		<set>
			<if test="tpl != null">
				page_tpl = #{tpl}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM blog_page_lock WHERE id = #{id}
	</delete>
	
	<select id="selectById" resultMap="LockPageDetail">
		SELECT bpl.id,page_tpl,page_locktype,space_id,space_alias
		FROM blog_page_lock bpl
		LEFT OUTER JOIN blog_space bs ON space_id = bs.id
		WHERE bpl.id = #{id}
	</select>
</mapper>