<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.OauthBindDao">
	<resultMap type="OauthBind" id="OauthBindDetail">
		<id column="id" property="id" />
		<result column="bind_date" property="bindDate" />
		<association property="user" javaType="OauthUser">
			<result column="user_id" property="id" />
			<result column="oauth_id" property="oauthid" />
			<result column="avatar" property="avatar" />
			<result column="nick_name" property="nickname" />
			<result column="oauth_type" property="type" typeHandler="EnumOrdinalTypeHandler" />
		</association>
	</resultMap>

	<select id="selectAll" resultMap="OauthBindDetail">
		SELECT 
			bind.id AS id,
			bind.bind_date,
			bind.user_id,
			user.oauth_id,
			user.avatar,
			user.nick_name,
			user.oauth_type
		FROM 
			blog_oauth_bind bind
		LEFT OUTER JOIN 
			blog_oauth_user user
		ON
			bind.user_id = user.id
	</select>
	
	<select id="selectById" resultMap="OauthBindDetail">
		SELECT 
			bind.id AS id,
			bind.bind_date,
			bind.user_id,
			user.oauth_id,
			user.avatar,
			user.nick_name,
			user.oauth_type
		FROM 
			blog_oauth_bind bind
		LEFT OUTER JOIN 
			blog_oauth_user user
		ON
			bind.user_id = user.id
		WHERE bind.id = #{id}
	</select>
	
	<insert id="insert">
		INSERT INTO blog_oauth_bind(bind_date,user_id) VALUES(#{bindDate},#{user.id})
	</insert>
	
	<select id="deleteById">
		DELETE FROM blog_oauth_bind WHERE id = #{id}
	</select>
	
	<select id="selectByOauthUser" resultMap="OauthBindDetail"> 
		SELECT 
			bind.id AS id,
			bind.bind_date,
			bind.user_id,
			user.oauth_id,
			user.avatar,
			user.nick_name,
			user.oauth_type
		FROM 
			blog_oauth_bind bind
		LEFT OUTER JOIN 
			blog_oauth_user user
		ON
			bind.user_id = user.id
		WHERE bind.user_id = #{id}
	</select>
</mapper>