<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.SpaceDao">
	<resultMap type="Space" id="SpaceDetail">
		<id column="space_id" property="id" />
		<result column="space_alias" property="alias" />
		<result column="is_private" property="isPrivate" />
		<result column="createDate" property="createDate" />
		<result column="space_name" property="name"/>
		<result column="space_lock" property="lockId"/>
		<result column="space_art_hidden" property="articleHidden"/>
		<result column="is_default" property="isDefault"/>
		
		<association property="commentConfig" javaType="CommentConfig">
			<id column="comment_config_id" property="id"></id>
			<result column="allowComment" property="allowComment"/>
			<result property="commentMode" column="comment_mode" typeHandler="EnumOrdinalTypeHandler"/>
			<result column="comment_asc" property="asc"/>
			<result column="comment_allowHtml" property="allowHtml"/>
			<result column="comment_limitCount" property="limitCount"/>
			<result column="comment_limitSec" property="limitSec"/>
			<result column="comment_check" property="check"/>
		</association>
	</resultMap>
	
	<update id="resetDefault">
		UPDATE blog_space SET is_default = FALSE
	</update>

	<select id="selectByAlias" resultMap="SpaceDetail">
		<include refid="spaceDetailSql"></include>
		WHERE
			space_alias = #{alias}
	</select>
	
	<select id="selectByName" resultMap="SpaceDetail">
		<include refid="spaceDetailSql"></include>
		WHERE
			space_name = #{name}
	</select>
	
	<select id="selectById" resultMap="SpaceDetail">
		<include refid="spaceDetailSql"></include>
		WHERE
			bs.id = #{id}
	</select>

	<insert id="insert">
		INSERT INTO blog_space(space_name,space_alias,is_private,createDate,space_lock,space_art_hidden,is_default)
		VALUES(#{name},#{alias},#{isPrivate},#{createDate},#{lockId},#{articleHidden},#{isDefault})
	</insert>

	<update id="update">
		UPDATE blog_space
		<set>
			<if test="alias != null">
				space_alias = #{alias},
			</if>
			<if test="name != null">
				space_name = #{name},
			</if>
			<if test="articleHidden != null">
				space_art_hidden = #{articleHidden},
			</if>
			<if test="isPrivate != null">
				is_private = #{isPrivate},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault},
			</if>
			comment_config = #{commentConfig.id},
			space_lock = #{lockId}
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectByParam" resultMap="SpaceDetail">
		<include refid="spaceDetailSql"></include>
		<where>
			<if test="name != null and name != ''">
				space_name LIKE CONCAT('%', #{name},'%')
			</if>
			<if test="alias != null and alias != ''">
				AND space_alias LIKE CONCAT('%', #{alias},'%')
			</if>
			<if test="isPrivate != null ">
				AND is_private = #{isPrivate}
			</if>
		</where>
		ORDER BY createDate DESC,bs.id DESC
	</select>
	
	<select id="selectDefault" resultMap="SpaceDetail">
		<include refid="spaceDetailSql"></include>
		WHERE
			is_default = true
	</select>
	
	<sql id="spaceDetailSql">
		SELECT
			bs.id AS space_id,
			space_alias,
			is_private,
			createDate,
			space_name,
			space_lock,
			is_default,
			space_art_hidden,
			bcc.allowComment,
			bcc.comment_mode,
			bcc.comment_asc,
			bcc.comment_allowHtml,
			bcc.comment_limitSec,
			bcc.comment_limitCount,
			bcc.comment_check,
			bcc.id AS comment_config_id
		FROM
			blog_space bs
		LEFT OUTER JOIN blog_comment_config bcc ON bs.comment_config = bcc.id
	</sql>
</mapper>