<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.SysPageDao">
	<resultMap type="SysPage" id="SysPageDetail">
		<id column="id" property="id" />
		<result column="page_tpl" property="tpl"/>
		<result column="page_target" property="target" typeHandler="EnumOrdinalTypeHandler"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id"/>
			<result column="space_alias" property="alias"/>
		</association>
	</resultMap>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO blog_page_sys(space_id,page_tpl,page_target)
		VALUES(#{space.id},#{tpl},#{target,javaType=PageTarget,typeHandler=EnumOrdinalTypeHandler})
	</insert>

	<select id="selectBySpaceAndPageTarget" resultMap="SysPageDetail">
		SELECT bps.id,page_tpl,page_target,space_id,space_alias
		FROM blog_page_sys bps
		LEFT OUTER JOIN blog_space bs ON space_id = bs.id
		WHERE page_target = #{pageTarget,javaType=PageTarget,typeHandler=EnumOrdinalTypeHandler}
		<choose>
			<when test="space == null">
				AND space_id IS NULL
			</when>
			<otherwise>
				AND space_id = #{space.id}
			</otherwise>
		</choose>
	</select>
	
	<update id="update">
		UPDATE blog_page_sys
		<set>
			<if test="tpl != null">
				page_tpl = #{tpl}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM blog_page_sys WHERE id = #{id}
	</delete>
	
	<select id="selectById" resultMap="SysPageDetail">
		SELECT bps.id,page_tpl,page_target,space_id,space_alias
		FROM blog_page_sys bps
		LEFT OUTER JOIN blog_space bs ON space_id = bs.id
		WHERE bps.id = #{id}
	</select>
</mapper>