<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.dao.UserDao">
	<resultMap type="User" id="UserDetail">
		<id column="id" property="id" />
		<result column="user_name" property="name" />
		<result column="user_password" property="password" />
		<result column="user_email" property="email" />
	</resultMap>

	<select id="select" resultMap="UserDetail">
		SELECT
		id,user_name,user_password,user_email FROM blog_user
	</select>

	<update id="update">
		UPDATE blog_user
		<set>
			<if test="name != null ">
				user_name = #{name},
			</if>
			<if test="email != null ">
				user_email = #{email},
			</if>
			<if test="password != null and password != ''">
				user_password = #{password}
			</if>
		</set>
		WHERE id = #{id}
	</update>
</mapper>