<!DOCTYPE HTML>
<html>
<head th:replace="mgr/base/head :: head('账号管理')"></head>
<body>
	<div id="wrapper">
		<nav th:replace="mgr/base/nav :: active('oauth')"></nav>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" th:unless="${error == null}"
							th:text="${messages.getMessage(error)}"></div>
						<form th:action="@{/mgr/oauth/index}" id="pageForm">
							<input type="hidden" th:value="${page.currentPage}"
								name="currentPage" />
						</form>
						<div class="alert alert-info" style="margin-top: 10px"
							th:if="${#lists.isEmpty(page.datas)}">当前没有任何标签</div>
						<div th:unless="${#lists.isEmpty(page.datas)}">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>账号类型</th>
											<th>昵称</th>
											<th>头像</th>
											<th>注册日期</th>
											<th>状态</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${page.datas}">
											<td th:text="${user.serverName}"></td>
											<td th:text="${user.nickname}"></td>
											<td><img th:src="${user.avatar}"
												th:if="${user.avatar != null}" /></td>
											<td
												th:text="${#dates.format(user.registerDate, 'yyyy-MM-dd HH:mm')}"></td>
											<td
												th:text="${messages.getMessage(user.status.getMessage())}"></td>
											<td><a href="###" style="margin-right: 10px" title="禁用"
												data-action="ban" th:data-id="${user.id}" th:if="${!user.isDisabled()}"><span
													class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>
												<a href="###" style="margin-right: 10px" title="解禁"
												data-action="unban" th:data-id="${user.id}" th:if="${user.isDisabled()}"><span
													class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div th:if="${page.totalPage > 1}">
							<ul class="pagination">
								<li
									th:each="i : ${#numbers.sequence(page.listbegin, page.listend-1)}">
									<a th:text="${i}" th:data-page="${i}" href="###"></a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("[data-page]").click(function() {
				var page = $(this).attr("data-page");
				$("#pageForm").find("input[name='currentPage']").val(page);
				$("#pageForm").submit();
			});
			$("a[data-action]").click(function() {
				var action = $(this).attr("data-action");
				switch (action) {
				case "ban":
					var id = $(this).attr("data-id");
					bootbox.confirm("确定要禁用吗？", function(result) {
						if (result) {
							$.post(basePath + "/mgr/oauth/toggleStatus", {
								id : id
							}, function(data) {
								bootbox.alert(data.message);
								if (data.success) {
									setTimeout(function() {
										window.location.reload();
									}, 500)
								}
							});
						}
					});
					break;
				case "unban":
					var id = $(this).attr("data-id");
					bootbox.confirm("确定要解禁吗？", function(result) {
						if (result) {
							$.post(basePath + "/mgr/oauth/toggleStatus", {
								id : id
							}, function(data) {
								bootbox.alert(data.message);
								if (data.success) {
									setTimeout(function() {
										window.location.reload();
									}, 500)
								}
							});
						}
					});
					break;
				}
			})
		})
	</script>
</body>
</html>