<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link
	href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css">
<link rel="stylesheet"
	th:href="@{/static/editor/markdown/css/editormd.css}" />
<link th:href="@{/static/css/blog.css}" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
.table-borderless tbody tr td, .table-borderless tbody tr th,
	.table-borderless thead tr th {
	border: none;
}

.cm-tab {
	background: none !important;
}
</style>
<title>自定义挂件管理</title>
</head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-widget')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row" style="margin-bottom: 10px">
				<div class="col-md-12">
					<button class="btn btn-primary" id="show-create">新建挂件</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form style="display: none" th:action="@{/mgr/widget/user/index}"
						id="pageForm">
						<input type="hidden" th:value="${page.currentPage}"
							name="currentPage" />
					</form>
					<div class="alert alert-info" th:if="${#lists.isEmpty(page.datas)}">当前没有任何自定义挂件</div>
					<div th:unless="${#lists.isEmpty(page.datas)}">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>挂件名</th>
										<th>描述</th>
										<th>创建日期</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="widget : ${page.datas}">
										<td><a href="###" th:title="${widget.name}"
											data-toggle="tooltip"
											th:text="${#strings.length(widget.name) > 5  ? #strings.substring(widget.name,0,5)+'...' : widget.name}"></a></td>
										<td><a href="###" th:title="${widget.description}"
											data-toggle="tooltip"
											th:text="${#strings.length(widget.description) > 10  ? #strings.substring(widget.description,0,10)+'...' : widget.description}"></a></td>
										<td
											th:text="${#dates.format(widget.createDate, 'yyyy-MM-dd HH:mm')}"></td>
										<td><a href="###" style="margin-right: 10px"
											data-action="remove" th:data-id="${widget.id}"><span
												class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
											<a href="###" data-action="edit" th:data-id="${widget.id}"><span
												class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div th:if="${page.totalPage > 1}">
						<ul class="pagination">
							<li
								th:each="i : ${#numbers.sequence(page.listbegin, page.listend-1)}">
								<a th:text="${i}" th:data-page="${i}" href="###"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>

	<div class="modal" id="createUserWidgetModal" tabindex="-1"
		role="dialog" aria-labelledby="createUserWidgetModalLabel"
		data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="createUserWidgetModalLabel">新挂件</h4>
				</div>
				<div class="modal-body">
					<div class="tip"></div>
					<form autocomplete="off">
						<div class="form-group">
							<label for="name" class="control-label">名称(1~20个字符):</label> <input
								type="text" class="form-control" name="name">
						</div>
						<div class="form-group">
							<label for="description" class="control-label">描述(0~500个字符):</label>
							<textarea rows="8" cols="8" class="form-control"
								name="description"></textarea>
						</div>
						<div class="form-group">
							<label for="description" class="control-label">模板(0~20000个字符):</label>
							<div id="editor">
								<textarea rows="8" cols="8" class="form-control"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="createUserWidget">创建</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" id="updateUserWidgetModal" tabindex="-1"
		role="dialog" aria-labelledby="updateUserWidgetModalLabel"
		data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="updateUserWidgetModalLabel">挂件更新</h4>
				</div>
				<div class="modal-body">
					<div class="tip"></div>
					<form autocomplete="off">
						<div class="form-group">
							<input type="hidden" class="form-control" name="id"> <label
								for="name" class="control-label">名称(1~20个字符):</label> <input
								type="text" class="form-control" name="name">
						</div>
						<div class="form-group">
							<label for="description" class="control-label">描述(0~500个字符):</label>
							<textarea rows="8" cols="8" class="form-control"
								name="description"></textarea>
						</div>
						<div class="form-group">
							<label for="description" class="control-label">模板(0~20000个字符):</label>
							<div id="upeditor">
								<textarea rows="8" cols="8" class="form-control"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateUserWidget">更新</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/editor/markdown/editormd.min.js}"></script>
	<script th:src="@{/static/js/mgr/userWidget.js}"></script>
</body>
</html>