<!DOCTYPE HTML>
<html>
<head th:replace="mgr/page/head :: head('解锁页面模板编辑')"></head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-lock')"></nav>
	<div th:replace="mgr/page/base"></div>
	<form style="display: none" id="tplForm">
		<input type="hidden"
			th:value="${page.space == null ? '' : page.space.id}" id="space">
		<input type="hidden" th:value="${page.lockType}" id="lockType">
		<input type="hidden" th:value="${page.id}" id="pageId">
	</form>
	<script type="text/javascript"
		th:src="@{/static/js/mgr/tplbuild_base.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/mgr/tplbuild_lock.js}"></script>
</body>
</html>
