<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="description" th:content="${article.summary}" />
<meta name="keywords" th:content="${article.tagStr}" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/editor/markdown/css/editormd.preview.min.css}"
	th:if="${article.editor.name() == 'MD'}" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<title th:text="${article.title}">文章详情</title>
</head>
<body>
	<nav th:replace="base/nav"></nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8  col-sm-8 text">
				<widget name="文章详情"></widget>
				<div>
					<textarea class="form-control" id="comment-box"></textarea>
					<button class="btn btn-primary" style="margin-top:10px" id="add-comment-btn" th:if="${session.oauth != null}">
						提交
					</button>
				</div>
				<div id="comments-container" style="margin-top:10px">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text">
				<widget name="文章日期归档"></widget>
				<widget name="文章空间归档"></widget>
			</div>
		</div>
	</div>
	<input type="hidden" id="articleId" th:value="${article.id}"/>
	<input type="hidden" id="urlPrefix" th:value="${urls.currentUrl}"/>
	<div th:replace="base/foot">&nbsp;</div>
	<div th:replace="base/foot_source">&nbsp;</div>
	<div th:if="${article.editor.name() == 'MD'}" th:remove="tag">
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/prettify.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/raphael.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/underscore.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/sequence-diagram.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/flowchart.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/jquery.flowchart.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/lib/marked.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/editor/markdown/editormd.min.js}"></script>
		<script type="text/javascript">
			var max = 4;
			$(document).ready(function(){
				editormd.katexURL  = {
			        css : basePath+"/static/editor/markdown/lib/katex.min",
			        js  : basePath+"/static/editor/markdown/lib/katex.min"
			    };
				editormd.markdownToHTML("markdown-rendered", {
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                    tocm : true
                });
				$.get($("#urlPrefix").val()+'/article/'+$("#articleId").val()+'/comment/list',function(data){
	    		var html = '';
	    		for(var i=0;i<data.datas.length;i++){
	    			var c = data.datas[i];
	    			html += buildHtml(null,c);
	    		}
	    		$("#comments-container").html(html);
	    	});
				if(window.sessionStorage){
					var articleId = "article-"+$("#articleId").val();
					var item = window.sessionStorage.getItem(articleId);
					if(!item || item == null){
						$.post($("#urlPrefix").val()+"/article/hit/"+$("#articleId").val(),{},function(data){
							if(data.success){
								window.sessionStorage.setItem(articleId,"1");
							}
						})
					}
				};
				$("#add-comment-btn").click(function(){
					var me = $(this);
					me.prop("disabled",true);
					$.ajax({
						type : "post",
						url : $("#urlPrefix").val()+"/article/"+$("#articleId").val()+"/addComment",
						data : JSON.stringify({content:$('#comment-box').val()}),
						dataType : "json",
						contentType : 'application/json',
						success : function(data){
							console.log(data)
						},
						complete:function(){
							me.prop("disabled",false);
						}
					});
				})
			});
			function toReply(parent){
				bootbox.dialog({
					title : '回复一个评论',
					message : '<textarea class="form-control" id="reply-box" placeholder="对TA说点什么"></textarea>',
					buttons : {
						success : {
							label : "确定",
							className : "btn-success",
							callback:function(e){
								var data = {};
								data.parent = {"id":parent};
								data.content = $('#reply-box').val();
								$.ajax({
									type : "post",
									url : $("#urlPrefix").val()+"/article/"+$("#articleId").val()+"/addComment",
									data : JSON.stringify(data),
									dataType : "json",
									contentType : 'application/json',
									success : function(data){
										console.log(data)
									},
									complete:function(){
										
									}
								});
								return false;
							}
						}
					}
				});
			}
			 function buildHtml(p,c){
				 var html = '';
				 html += '<div class="media">';
				 html += '<a class="pull-left">';
				 html += '<img class="media-object"  src="'+c.user.avatar+'" data-holder-rendered="true" style="width: 64px; height: 64px;">';
				html += '</a>';
				html += '<div class="media-body">';
				var user = '<strong>'+c.user.nickname+'</strong>';
				var reply = (p == null)?"":'<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;'+p.user.nickname;
				html += '<h5 class="media-heading">'+user+'&nbsp;&nbsp;&nbsp;'+reply+'</h5>';
				html += c.content;
				html += '<h5>'+new Date(c.commentDate).format('yyyy-mm-dd HH:mm:ss')+'&nbsp;&nbsp;&nbsp;<a href="###" onclick="toReply(\''+c.id+'\')"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a></h5>';
				if(c.parents.length < max && c.children.length > 0){
					for(var i=0;i<c.children.length;i++){
						html += buildHtml(c,c.children[i]);
					}
				}
				html += '</div>';
				html += '</div>';
				if(c.parents.length >= max && c.children.length > 0){
					for(var i=0;i<c.children.length;i++){
						html += buildHtml(c,c.children[i]);
					}
				}
				return html;
			 }	
		</script>
	</div>
</body>
</html>