<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<title th:text="${space == null ? '主页' : space.name}"></title>
</head>
<body>
	<nav th:replace="base/nav"></nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8  col-sm-8 text">
				<widget name="文章列表" data-sort-lab="false"></widget>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 text">
				<widget name="文章日期归档"></widget>
				<widget name="文章空间归档"></widget>
				<widget name="最近评论"></widget>
			</div>
		</div>
	</div>

	<div th:replace="base/foot">&nbsp;</div>
	<div th:replace="base/foot_source">&nbsp;</div>
</body>
</html>