<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="description" th:content="${article.summary}" />
<meta name="keywords" th:content="${article.tagStr}" />
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link th:href="@{/static/css/blog.css}" rel="stylesheet">
<link th:href="@{/static/css/markdown.css}" rel="stylesheet" th:if="${article.editor.name() == 'MD'}">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<title th:text="${article.title}">文章详情</title>
</head>
<body>
	<fragment name="顶部导航" />
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8  col-sm-8 text">
				<fragment name="文章详情"></fragment>
				<fragment name="上一篇下一篇"></fragment>
				<div th:if="${article.commentConfig.allowComment}">
					<div class="media">
						<a class="media-left" href="#"> <img class="media-object"
							th:src="${session.oauth == null ? urls.url+'/static/img/guest.png' : session.oauth.avatar}"
							style="width: 64px; height: 64px;">
						</a>
						<div class="media-body">
							<textarea class="form-control" style="height: 150px"
								id="comment-box"></textarea>
						</div>
					</div>
					<div>
						<label>社交账号登录</label>:<a th:href="${urls.url}+'/oauth2/qq/login'"><img
							th:src="@{/static/img/qq.png}"
							style="width: 32px; height: 32px; margin-top: 10px" title="QQ登录"
							alt="QQ登录" /></a> <a th:href="${urls.url}+'/oauth2/sina/login'"><img
							th:src="@{/static/img/sina.png}"
							style="width: 32px; height: 32px; margin-top: 10px" title="新浪登录"
							alt="新浪登录" /></a>
						<button class="btn btn-primary pull-right"
							style="margin-top: 10px" id="add-comment-btn"
							th:attr="disabled=${session.oauth != null ? null : 'disabled'}"
							th:text="${session.oauth != null ? '提交' : '请登录后再评论'}"></button>
					</div>
				</div>
				<div id="comments-container" style="margin-top: 10px"></div>
				<div id="page-bar" style="margin-top: 10px"></div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text hidden-xs">
				<fragment name="文章日期归档"></fragment>
				<fragment name="文章空间归档"></fragment>
			</div>
		</div>
	</div>
	<input type="hidden" id="articleId" th:value="${article.id}" />
	<input type="hidden" id="login" th:value="${user != null}" />
	<input type="hidden" id="urlPrefix" th:value="${urls.currentUrl}" />
	<input type="hidden" id="oauthLogin"
		th:value="${session.oauth != null}" />
	<input type="hidden" id="commentMode"
		th:value="${article.commentConfig.commentMode.name()}" />
	
	<fragment name="底部" />
	<div th:replace="base/foot_source">&nbsp;</div>
	<script type="text/javascript" th:src="@{/static/js/article.js}"></script>

	<data name="文章详情" />
	<data name="上一篇下一篇" />
	<data name="文章日期归档" />
	<data name="文章空间归档" />
</body>
</html>