<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link
	href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css">
<link rel="stylesheet"
	th:href="@{/static/editor/markdown/css/editormd.css}" />
<link th:href="@{/static/css/blog.css}" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
.table-borderless tbody tr td, .table-borderless tbody tr th,
	.table-borderless thead tr th {
	border: none;
}

.cm-tab {
	background: none !important;
}
</style>
<title>自定义页面模板编辑</title>
</head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-user')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div id="editor">
						<textarea style="display: none;" th:text="${page.tpl}"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="margin-top: 10px">
					<div class="col-md-2">
						<label>页面名称(1~20个字符)：</label>
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control" th:value="${page.name}"
							id="name"> <input type="text" style="display: none">
					</div>
				</div>
			</div>
			<div class="row">
				<div style="margin-top: 10px">
					<div class="col-md-2">
						<label>页面别名(1~30个字符,只能包含英文和数字以及-和_，不能为纯数字)：</label>
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control" th:value="${page.alias}"
							id="alias"> <input type="text" style="display: none">
					</div>
				</div>
			</div>
			<div class="row">
				<div style="margin-top: 10px">
					<div class="col-md-2">
						<label>所属空间：</label>
					</div>
					<div class="col-md-10">
						<select class="form-control" id="spaceSelect">
							<option th:if="${page.space != null}" th:value="${page.space.id}"
								th:text="${page.space.name}"></option>
							<option value="">无</option>
							<option th:each="space : ${spaces}" th:value="${space.id}"
								th:text="${space.name}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="margin-top: 10px">
					<div class="col-md-2">
						<label>描述(0~500个字符)：</label>
					</div>
					<div class="col-md-10">
						<textarea rows="8" cols="8" class="form-control" id="description"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 " style="margin-top: 10px; text-align: center">
					<form style="display: none" id="tplForm">
						<input type="hidden"
							th:value="${page.space == null ? '' : page.space.id}" id="space">
						<input type="hidden" th:value="${page.id}" id="pageId">
					</form>
					<button class="btn btn-primary" type="button" onclick="lookup()">查询</button>
					<button class="btn btn-primary" type="button" onclick="preview()">预览</button>
					<button class="btn btn-primary" type="button" onclick="save()">提交</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<div class="modal " id="fragmentsModal" tabindex="-1" role="dialog"
		aria-labelledby="fragmentsLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="fragmentsModalLabel">挂件</h4>
				</div>
				<div class="modal-body">
					<div class="tip"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal" id="lookupModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">查询</h4>
				</div>
				<div class="modal-body">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#dataTags"
							id="data-tab" role="tab" data-toggle="tab" aria-controls="home"
							aria-expanded="true">数据</a></li>
						<li role="presentation"><a href="#fragment" role="tab"
							id="fragment-tab" data-toggle="tab" aria-controls="profile">模板片段</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="dataTags"
							aria-labelledby="data-tab">
						</div>
						<div role="tabpanel" class="tab-pane fade" id="fragment"
							aria-labelledby="fragment-tab">
							<ul id="fragmentTab" class="nav nav-tabs" role="tablist" style="margin-top:10px">
								<li role="presentation" class="active"><a href="#sys"
									id="sys-tab" role="tab" data-toggle="tab" aria-controls="home"
									aria-expanded="true">系统模板片段</a></li>
								<li role="presentation"><a href="#user" role="tab"
									id="user-tab" data-toggle="tab" aria-controls="profile">自定义模板片段</a></li>
							</ul>
							<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active"
								id="sys" aria-labelledby="sys-tab">
							</div>
							<div role="tabpanel" class="tab-pane fade in active"
								id="user" aria-labelledby="user-tab">
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/static/editor/markdown/editormd.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/mgr/tplbuild_user.js}"></script>
</body>
</html>
