<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		   					 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						     http://www.springframework.org/schema/context 
						     http://www.springframework.org/schema/context/spring-context-4.0.xsd
						     http://www.springframework.org/schema/aop 
						     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
						     http://www.springframework.org/schema/tx 
						     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						      http://www.springframework.org/schema/cache 
						     http://www.springframework.org/schema/cache/spring-cache-4.0.xsd 
						     http://www.springframework.org/schema/task
		   					 http://www.springframework.org/schema/task/spring-task-4.0.xsd ">


	<context:property-placeholder
		location="classpath:resources/mybatis/db.properties,classpath:resources/app.properties,classpath:resources/mail.properties" />

	<!-- mysql -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="close">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="poolName" value="blogCP" />
		<property name="maximumPoolSize" value="${jdbc.maxPoolSize}" />
		<property name="maxLifetime" value="${jdbc.maxLifetime}" />
	</bean>

	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:configLocation="classpath:resources/mybatis/mybatis-config.xml"
		p:dataSource-ref="dataSource" />
	<import resource="ui.xml" />

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />
	<tx:annotation-driven transaction-manager="txManager" />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="me.qyh.blog.dao,me.qyh.blog.lock.support,me.qyh.blog.comment" />
	</bean>

	<import resource="file.xml" />
	<context:component-scan
		base-package="me.qyh.blog.service,me.qyh.blog.config,me.qyh.blog.comment" />

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<cache:annotation-driven />
	<!-- 缓存配置 -->
	<bean id="cacheManager" class="org.springframework.cache.guava.GuavaCacheManager">
		<property name="cacheSpecification" value="maximumSize=500,expireAfterAccess=20m" />
	</bean>

	<!-- 锁 -->
	<bean class="me.qyh.blog.lock.LockManager"/>
	<bean class="me.qyh.blog.lock.SysLockProvider" />

	<!-- 登录验证 -->
	<bean class="me.qyh.blog.security.EnsureLoginAspect" />
	<!-- 自动登录 -->
	<bean class="me.qyh.blog.security.RememberMe" />

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" value="classpath:resources/messages/message" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean class="me.qyh.blog.message.Messages">
		<property name="locale" value="zh_CN" />
	</bean>

	<bean class="me.qyh.blog.service.impl.JcsegArticleIndexer"
		destroy-method="close">
		<constructor-arg index="0" value="/web/blog_index" />
		<constructor-arg index="1" value="SEARCH" />
	</bean>

	<!-- 如果不需要邮件通知这个服务请不要设置 -->
	<bean class="me.qyh.blog.mail.MailSender" destroy-method="shutdown"></bean>

	<!-- 如果不需要邮件通知这个服务请不要设置 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="protocol" value="${mail.protocol}" />
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.from">${mail.from}</prop>
			</props>
		</property>
	</bean>


	<bean class="me.qyh.blog.service.impl.CommonMarkdown2Html" id="markdown2Html" />

	<bean class="me.qyh.blog.service.impl.ArticleServiceImpl">
		<!-- markdown2html handler -->
		<property name="articleContentHandlers">
			<list>
				<bean class="me.qyh.blog.service.impl.ArticleMarkdown2HtmlContentHandler" />
			</list>
		</property>
	</bean>

	<bean class="me.qyh.blog.service.impl.ArticleIndexRebuildAspect" />

	<bean class="me.qyh.blog.api.metaweblog.MetaweblogHandler" />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
		destroy-method="destroy">
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<bean id="taskScheduler"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler"
		destroy-method="destroy">
		<property name="poolSize" value="5" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<!-- 查询是否存在待发表的计划中博客，如果存在则发表该博客 -->
	<bean id="pushScheduledArticleJob" class="me.qyh.blog.service.impl.PushScheduledArticleJob" />
	<task:scheduled-tasks scheduler="taskScheduler">
		<!-- 默认5秒查询一次 -->
		<task:scheduled ref="pushScheduledArticleJob" method="doJob"
			cron="0/5 * * * * ?" />
	</task:scheduled-tasks>

	<task:annotation-driven executor="taskExecutor"
		scheduler="taskScheduler" proxy-target-class="true" />

	<bean id="htmlClean" class="me.qyh.blog.security.input.DefaultHtmlClean" />
	<bean id="simpleCommentChecker" class="me.qyh.blog.comment.base.SimpleCommentChecker">
		<property name="disallowUsernamePatterns">
			<array>
				<value>qyh</value>
				<value>mhlx</value>
				<value>梦海澜心</value>
				<value>钱宇豪</value>
			</array>
		</property>
		<property name="disallowEmailPatterns">
			<array>
				<value>*@qyh.me</value>
				<value>1187500344@qq.com</value>
			</array>
		</property>
	</bean>
	<!-- 默认评论服务 -->
	<bean class="me.qyh.blog.comment.article.CommentService">
		<!-- html内容清理器 -->
		<property name="htmlClean" ref="htmlClean" />
		<property name="commentDao" ref="commentDao" />
		<property name="commentChecker" ref="simpleCommentChecker"></property>
		<property name="emailSupport">
			<bean class="me.qyh.blog.comment.base.CommentEmailNotifySupport"
				destroy-method="shutdown">
				<property name="mailTemplateResource"
					value="classpath:resources/page/defaultMailTemplate.html" />
				<property name="mailSubject" value="您有新的评论" />
				<property name="toSendSdfilePath" value="/web/art_comment_tosend.dat" />
				<property name="toProcessesSdfilePath" value="/web/art_comment_toprocess.dat" />
			</bean>
		</property>
	</bean>
	<!-- 默认评论服务 -->
	<bean class="me.qyh.blog.comment.module.ModuleCommentService">
		<!-- html内容清理器 -->
		<property name="htmlClean" ref="htmlClean" />
		<property name="commentDao" ref="moduleCommentDao" />
		<property name="commentChecker" ref="simpleCommentChecker"></property>
		<property name="modules">
			<list>
				<bean class="me.qyh.blog.comment.module.CommentModule">
					<property name="id" value="1" />
					<property name="name" value="guestbook" />
					<property name="url" value="page/guestbook" />
				</bean>
			</list>
		</property>
		<property name="emailSupport">
			<bean class="me.qyh.blog.comment.base.CommentEmailNotifySupport"
				destroy-method="shutdown">
				<property name="mailTemplateResource"
					value="classpath:resources/page/defaultModuleMailTemplate.html" />
				<property name="mailSubject" value="您有新的评论" />
				<property name="toSendSdfilePath" value="/web/module_comment_tosend.dat" />
				<property name="toProcessesSdfilePath" value="/web/module_comment_toprocess.dat" />
			</bean>
		</property>
	</bean>

	<bean class="me.qyh.blog.evt.ping.SimplePingManager"
		destroy-method="close">
		<constructor-arg value="钱宇豪的个人博客" />
		<property name="pingServices">
			<list>
				<bean class="me.qyh.blog.evt.ping.GoogleBlogPingService" />
				<bean class="me.qyh.blog.evt.ping.BaiduBlogPingService" />
			</list>
		</property>
	</bean>

</beans>      
