<div id="page-wrapper" style="padding: 10px">
	<div class="container-fluid">
		<div class="row">
			<div th:replace="mgr/page/editor :: editor(${page.tpl})"></div>
			<div class="col-md-12 " style="margin-top: 10px; text-align: center">
				<button class="btn btn-primary" type="button" onclick="lookup()">查询</button>
				<button class="btn btn-primary" type="button" onclick="preview()">预览</button>
				<button class="btn btn-primary" type="button" onclick="save()">提交</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="lookupModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">查询</h4>
			</div>
			<div class="modal-body">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#dataTags"
						id="data-tab" role="tab" data-toggle="tab" aria-controls="home"
						aria-expanded="true">数据</a></li>
					<li role="presentation"><a href="#fragment" role="tab"
						id="fragment-tab" data-toggle="tab" aria-controls="profile">模板片段</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="dataTags"
						aria-labelledby="data-tab"></div>
					<div role="tabpanel" class="tab-pane fade" id="fragment"
						aria-labelledby="fragment-tab">
						<ul id="fragmentTab" class="nav nav-tabs" role="tablist"
							style="margin-top: 10px">
							<li role="presentation" class="active"><a href="#sys"
								id="sys-tab" role="tab" data-toggle="tab" aria-controls="home"
								aria-expanded="true">系统模板片段</a></li>
							<li role="presentation"><a href="#user" role="tab"
								id="user-tab" data-toggle="tab" aria-controls="profile">自定义模板片段</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="sys"
								aria-labelledby="sys-tab"></div>
							<div role="tabpanel" class="tab-pane fade in active" id="user"
								aria-labelledby="user-tab"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<div th:replace="base/foot_source"></div>
<div th:replace="mgr/page/source"></div>