<div class="col-md-12" th:fragment="editor(content)">
	<div class="md-header btn-toolbar">
		<div class="btn-group">
			<button class="btn-default btn-sm btn" type="button"
				data-handler="file">文件</button>
			<button class="btn-default btn-sm btn" type="button"
				data-handler="format">格式化</button>
			<button class="btn-default btn-sm btn" type="button"
				data-handler="lookup">查询</button>
			<button class="btn-default btn-sm btn" type="button"
				data-handler="lock">锁</button>
		</div>
	</div>
	<textarea style="display: none;" th:text="${content}" id="editor"></textarea>

	<div class="modal" id="lookupModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">查询</h4>
				</div>
				<div class="modal-body">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#dataTags"
							id="data-tab" role="tab" data-toggle="tab" aria-controls="home"
							aria-expanded="true">数据</a></li>
						<li role="presentation"><a href="#fragment" role="tab"
							id="fragment-tab" data-toggle="tab" aria-controls="profile">模板片段</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="dataTags"
							aria-labelledby="data-tab"></div>
						<div role="tabpanel" class="tab-pane fade" id="fragment"
							aria-labelledby="fragment-tab">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="lockModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">锁</h4>
				</div>
				<div class="modal-body" id="lockBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

</div>
